/***************SELECTORS************/

body {
  text-align: center;
  background: url("https://cdn-media-1.freecodecamp.org/images/1*94q4HJ10s6rtvhLcQQuMRw.png")
    center/cover;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Helvetica, sans-serif;
}

/************ID SELECTORS***********/

#comments {
  width: 90%;
  margin-bottom: 2%;
}

#submit {
  background-color: green;
  color: white;
  font-weight: bolder;
}

#title {
  color: white;
  margin-top: 0;
}

#description {
  color: white;
}

/************CLASS SELECTORS***********/

.mytext {
  width: 90%;
  margin-bottom: 2%;
}

.form-div {
  text-align: left;
  background: rgba(170, 156, 165, 0.9);
  margin: 0 20% 0 20%;
  padding: 5% 10% 5% 10%;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
